@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-12 {
    @apply text-xs font-normal not-italic leading-4 text-[#999999];
  }

  .font-14 {
    @apply text-sm font-normal not-italic leading-[1.125rem];
  }

  .font-18 {
    @apply text-lg font-medium not-italic leading-6 text-cBlack;
  }

  .card {
    @apply mb-3 mt-3 rounded-xl bg-white p-3;
    box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.04);
  }
  .card.small {
    @apply rounded-lg;
  }

  .nft-view-card {
    /* TODO replace rounded-3xl with rounded-2xl */
    @apply card m-0 overflow-hidden rounded-3xl p-0;
  }

  .title {
    @apply text-base font-medium not-italic leading-5 text-cBlack;
  }

  .subtitle {
    @apply font-14 text-[#666666];
  }

  .link {
    @apply font-14 cursor-pointer text-[#655eea] underline;
  }

  .tag {
    @apply font-14 relative inline-block break-all rounded-[0.9375rem] bg-cBlack py-[0.1875rem] px-2 text-xs text-white;
  }
  .tag.badge {
    @apply bg-[#D5D3FC] pl-2 text-cBlack;
  }
  .tag.badge::before {
    @apply float-left mr-0.5 mt-0.5 h-3 w-3;
    content: "";
    background: url(/badge.svg);
    background-size: contain;
  }

  /* type: center */
  .tabs-title {
    @apply font-18 flex items-center font-normal text-[#999999];
  }
  .tabs-title.active {
    @apply relative font-medium text-cBlack;
  }
  .tabs-title.active::after {
    @apply absolute -bottom-1 left-1/2 h-[0.1875rem] w-5 -translate-x-1/2 rounded-sm bg-cBlack;
    content: "";
  }
  /* type: left */
  .tabs-title.left {
    @apply mr-6;
  }
  .tabs-title.left:not(.active) {
    @apply font-14;
  }

  .button {
    @apply font-14 inline-flex h-11 w-40 items-center justify-center rounded-full border-[0.0313rem];
  }
  .button.cancel {
    @apply border-[#D2D2D2];
  }
  .button.confirm {
    @apply border-cBlack bg-cBlack text-white;
  }

  .item {
    @apply font-14 mt-3 flex h-[3.125rem] w-full flex-row items-center justify-start rounded-full border-[0.0313rem] border-[#D2D2D2] p-4 first:mt-0;
  }
  .item.control {
    @apply mt-0 border-none bg-[#F5F5F5];
  }
  .item.selected {
    @apply border-none bg-cBlack text-white;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
  max-width: 23.4375rem;
  height: 100%;
  margin: auto;
  background-color: #f9f9f9;
  padding: 1.25rem;
  font-family: "PingFang SC";
  overflow: auto;
  scroll-behavior: smooth;
}
